n8n/workflows/hermes-events.json
{
  "name": "Hermes Event Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hermes-events",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "c3d4e5f6-0004-4000-8000-000000000001",
      "name": "Hermes Events Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 340],
      "webhookId": "hermes-events"
    },
    {
      "parameters": {
        "jsCode": "// Route events by type and log to structured storage\nconst event = $input.first().json;\nconst eventType = event.event_type || 'unknown';\nconst source = event.source || 'unknown';\nconst payload = event.payload || {};\nconst ts = event.timestamp || new Date().toISOString();\n\n// Build structured log entry\nconst logEntry = {\n  event_type: eventType,\n  source: source,\n  timestamp: ts,\n  payload: payload,\n  category: eventType.split('.')[0],  // task, agent, terminal, alert, report\n  action: eventType.split('.')[1] || 'unknown',\n};\n\n// Determine routing\nlet route = 'log_only';\nif (eventType.startsWith('alert.') || eventType === 'terminal.state_changed') {\n  const newState = payload.new_state;\n  if (newState === 'DEAD' || newState === 'DEGRADED') {\n    route = 'alert';\n  }\n}\nif (eventType === 'task.created' && (payload.priority === 'high' || payload.priority === 'critical')) {\n  route = 'alert';\n}\nif (eventType === 'task.status_changed' && payload.new_status === 'done') {\n  route = 'notify';\n}\n\nlogEntry.route = route;\n\nreturn [{ json: logEntry }];"
      },
      "id": "c3d4e5f6-0004-4000-8000-000000000002",
      "name": "Classify & Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "route-check",
            "leftValue": "={{ $json.route }}",
            "rightValue": "alert",
            "operator": { "type": "string", "operation": "equals" }
          }],
          "combinator": "and"
        }
      },
      "id": "c3d4e5f6-0004-4000-8000-000000000003",
      "name": "Is Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 340]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5678/webhook/agent-alert",
        "method": "POST",
        "body": {
          "agent_id": "={{ $json.source }}",
          "severity": "warning",
          "title": "={{ $json.event_type + ': ' + ($json.payload.title || $json.payload.terminal_id || $json.payload.task_id || 'event') }}",
          "details": "={{ JSON.stringify($json.payload) }}"
        },
        "options": { "timeout": 5000 }
      },
      "id": "c3d4e5f6-0004-4000-8000-000000000004",
      "name": "Forward to Alert Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 240],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Log event (non-alert path)\nconst event = $input.first().json;\nconsole.log(`[hermes-event] ${event.event_type} from ${event.source}: ${JSON.stringify(event.payload).substring(0, 200)}`);\nreturn [{ json: { logged: true, event_type: event.event_type, source: event.source } }];"
      },
      "id": "c3d4e5f6-0004-4000-8000-000000000005",
      "name": "Log Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 440]
    }
  ],
  "connections": {
    "Hermes Events Webhook": {
      "main": [[{ "node": "Classify & Route", "type": "main", "index": 0 }]]
    },
    "Classify & Route": {
      "main": [[{ "node": "Is Alert?", "type": "main", "index": 0 }]]
    },
    "Is Alert?": {
      "main": [
        [{ "node": "Forward to Alert Workflow", "type": "main", "index": 0 }],
        [{ "node": "Log Event", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [{ "name": "superclaw" }, { "name": "events" }],
  "triggerCount": 1,
  "pinData": {},
  "versionId": "1"
}
