n8n/workflows/session-monitor.json
{
  "name": "Session Size Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "c3d4e5f6-0007-4000-8000-000000000001",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 340]
    },
    {
      "parameters": {
        "jsCode": "// Read all agent sessions and check token counts\n// Uses Hermes API instead of filesystem reads\nconst http = require('http');\n\nconst HERMES_URL = 'http://localhost:8787';\nconst THRESHOLD = 150000;\n\ntry {\n  const response = await fetch(`${HERMES_URL}/api/v1/sessions/sizes`);\n  const data = await response.json();\n  const agents = data.agents || {};\n  const results = [];\n  const needsCompaction = [];\n\n  for (const [agent, info] of Object.entries(agents)) {\n    const over = info.totalTokens > THRESHOLD;\n    results.push({ agent, ...info, overThreshold: over });\n    if (over) needsCompaction.push(agent);\n  }\n\n  return [{ json: {\n    checked: results.length,\n    threshold: THRESHOLD,\n    agents: results,\n    needsCompaction,\n    anyOverThreshold: needsCompaction.length > 0,\n  }}];\n} catch (e) {\n  return [{ json: { error: e.message, checked: 0, anyOverThreshold: false }}];\n}"
      },
      "id": "c3d4e5f6-0007-4000-8000-000000000002",
      "name": "Check Session Sizes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "threshold-check",
            "leftValue": "={{ $json.anyOverThreshold }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }],
          "combinator": "and"
        }
      },
      "id": "c3d4e5f6-0007-4000-8000-000000000003",
      "name": "Any Over Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 340]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8787/api/v1/events",
        "method": "POST",
        "body": {
          "event_type": "session.needs_compaction",
          "source": "session-monitor",
          "payload": {
            "agents": "={{ $json.needsCompaction }}",
            "threshold": "={{ $json.threshold }}"
          }
        },
        "options": { "timeout": 5000 }
      },
      "id": "c3d4e5f6-0007-4000-8000-000000000004",
      "name": "Emit Compaction Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 240],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5678/webhook/agent-alert",
        "method": "POST",
        "body": {
          "agent_id": "session-monitor",
          "severity": "warning",
          "title": "={{ 'Session capacity alert: ' + $json.needsCompaction.join(', ') }}",
          "details": "={{ JSON.stringify($json.agents.filter(a => a.overThreshold).map(a => a.agent + ': ' + a.pct + '% (' + a.tokens + ' tokens)')) }}"
        },
        "options": { "timeout": 5000 }
      },
      "id": "c3d4e5f6-0007-4000-8000-000000000005",
      "name": "Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 440],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[{ "node": "Check Session Sizes", "type": "main", "index": 0 }]]
    },
    "Check Session Sizes": {
      "main": [[{ "node": "Any Over Threshold?", "type": "main", "index": 0 }]]
    },
    "Any Over Threshold?": {
      "main": [
        [
          { "node": "Emit Compaction Event", "type": "main", "index": 0 },
          { "node": "Alert", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [{ "name": "superclaw" }, { "name": "memory" }],
  "triggerCount": 1,
  "pinData": {},
  "versionId": "1"
}
