n8n/workflows/terminal-liveness.json
{
  "name": "Terminal Liveness Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "seconds", "secondsInterval": 30 }]
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000001",
      "name": "Every 30 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 340]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8787/api/v1/health",
        "options": { "timeout": 3000 }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000002",
      "name": "Check Hermes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 240],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8888/health",
        "options": { "timeout": 3000 }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "Check Lazarus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 440],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge all health data into terminal-status.json format\nconst now = Math.floor(Date.now() / 1000);\nconst items = $input.all();\n\n// Read existing terminal-status.json from collab bridge data\nlet existingStatus = {};\ntry {\n  const fs = require('fs');\n  const raw = fs.readFileSync('/data/shared/terminal-status.json', 'utf8');\n  existingStatus = JSON.parse(raw);\n} catch { /* file may not exist yet */ }\n\n// Check Hermes health\nconst hermesOk = items[0]?.json?.status === 'ok' || items[0]?.json?.statusCode === 200;\n\n// Check Lazarus health  \nconst lazarusOk = items[1]?.json?.status === 'ok' || items[1]?.json?.statusCode === 200;\n\n// Build service status\nconst services = {\n  hermes: { alive: hermesOk, port: 8787, checked_at: now },\n  lazarus: { alive: lazarusOk, port: 8888, checked_at: now },\n  n8n: { alive: true, port: 5678, checked_at: now },\n  ollama: { alive: true, port: 11434, checked_at: now }\n};\n\n// Merge terminal liveness from collab data + service checks\nconst output = { ...existingStatus, _services: services, _updated: now };\n\n// Write back\ntry {\n  const fs = require('fs');\n  fs.writeFileSync('/data/shared/terminal-status.json', JSON.stringify(output, null, 2));\n} catch (e) {\n  return [{ json: { error: e.message } }];\n}\n\n// Check for alerts: any service down?\nconst downServices = Object.entries(services)\n  .filter(([k, v]) => !v.alive)\n  .map(([k]) => k);\n\nreturn [{\n  json: {\n    updated: true,\n    services,\n    downServices,\n    terminalCount: Object.keys(output).filter(k => !k.startsWith('_')).length,\n    needsAlert: downServices.length > 0\n  }\n}];"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000004",
      "name": "Merge & Write Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "alert-check",
            "leftValue": "={{ $json.needsAlert }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }],
          "combinator": "and"
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000005",
      "name": "Services Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 340]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5678/webhook/agent-alert",
        "method": "POST",
        "body": {
          "agent_id": "n8n-monitor",
          "severity": "warning",
          "title": "={{ 'Service down: ' + $json.downServices.join(', ') }}",
          "details": "={{ 'The following services are unreachable: ' + $json.downServices.join(', ') + '. Checked at ' + new Date().toISOString() }}"
        },
        "options": { "timeout": 5000 }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000006",
      "name": "Fire Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 240],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every 30 Seconds": {
      "main": [[
        { "node": "Check Hermes", "type": "main", "index": 0 },
        { "node": "Check Lazarus", "type": "main", "index": 0 }
      ]]
    },
    "Check Hermes": {
      "main": [[{ "node": "Merge & Write Status", "type": "main", "index": 0 }]]
    },
    "Check Lazarus": {
      "main": [[{ "node": "Merge & Write Status", "type": "main", "index": 0 }]]
    },
    "Merge & Write Status": {
      "main": [[{ "node": "Services Down?", "type": "main", "index": 0 }]]
    },
    "Services Down?": {
      "main": [
        [{ "node": "Fire Alert", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [{ "name": "superclaw" }, { "name": "monitoring" }],
  "triggerCount": 1,
  "pinData": {},
  "versionId": "1"
}
